
<div style='display:none' id='hidden-dragon'>
  <%= @quote.map{|x| x.text}.join(" ") %>
</div>


<h1 class="random-quote">

  <% o = @quote.pop %>

  <span class=<%= o.source.to_s %> data-index=<%= o.index %>>
    <%= o.text%>

  <% @quote.each do |o| %>

    <% if should_close_span(o) %>
      </span>
      <span class=<%= o.source.to_s %> data-index=<%= o.index %>>
    <% end %>

    <%= o.text%>

    <%#= o.index %>
    <% @previous_source = o.source %>
    <% @previous_index = o.index %>
  <% end %>
  </span>

</h1>


<%= link_to "Save", '#', :onclick => 'createWitticism()' %>
